extends layout

block content
	//
		Carousel
		==================================================
	#myCarousel.carousel.slide(data-ride='carousel')
		// Indicators
		ol.carousel-indicators
			li.active(data-target='#myCarousel', data-slide-to='0')
			li(data-target='#myCarousel', data-slide-to='1')
			li(data-target='#myCarousel', data-slide-to='2')
		.carousel-inner(role='listbox')
			.item.active
				img.first-slide(src='../images/building.jpg', alt='First slide')
				.container
					.carousel-caption
						p
							a.btn.btn-lg.btn-primary.top(href='#', role='button') About Wayne Enterprises
			.item
				img.second-slide(src='../images/meeting.jpg', alt='Second slide')
				.container
					.carousel-caption
						p
							a.btn.btn-lg.btn-primary.top(href='#', role='button') Services
			.item
				img.third-slide(src='../images/contact.jpg', alt='Third slide')
				.container
					.carousel-caption
						p
							a.btn.btn-lg.btn-primary.top(href='#', role='button') Request A Consultation
		a.left.carousel-control(href='#myCarousel', role='button', data-slide='prev')
			span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
			span.sr-only Previous
		a.right.carousel-control(href='#myCarousel', role='button', data-slide='next')
			span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
			span.sr-only Next
	// /.carousel
	ul.home-links
		li
			a.btn.btn-lg.btn-primary(href='#', role='button') About Wayne Enterprises
		li
			a.btn.btn-lg.btn-primary(href='#', role='button') Services
		li
			a.btn.btn-lg.btn-primary(href='#', role='button') Request A Consultation
	//
		Marketing messaging and featurettes
		==================================================
	// Wrap the rest of the page in another container to center all the content.
	section#team
		hr.featurette-divider#first-divider
		.row.featurette
			.container.marketing
				// Three columns of text below the carousel
				.row
					.col-lg-4
						br
						img.img-circle(src='../images/bwayne.jpg', alt='Bruce Wayne', width='140', height='140')
						h2 Bruce Wayne
						h3 
							| CEO
						br
						p
							| Billionaire industrialist, philanthropist, and notorious playboy.
						br
						p
							a.btn.btn-lg.btn-primary(href='#', role='button') View Bio »
					// /.col-lg-4
					.col-lg-4
						br
						img.img-circle(src='../images/lfox.jpg', alt='Lucius Fox', width='140', height='140')
						h2 Lucius Fox 
						h3 CFO
						br
						p
							| Experienced businessman, entrepreneur, and inventor.
						br
						p
							a.btn.btn-lg.btn-primary(href='#', role='button') View Bio »
					// /.col-lg-4
					.col-lg-4
						br
						img.img-circle(src='../images/lmathew.png', alt='L Mathew', width='140', height='140')
						h2 Linse Mathew 
						h3 COO
						br
						p
							| Full-stack web developer, fantasy football enthusiast, and Batman fan. 
						br
						p
							a.btn.btn-lg.btn-primary(href='#', role='button') View Bio »
			// /.col-lg-4
		// /.row
		// START THE FEATURETTES
		section#wayne-tower
			hr.featurette-divider
			.row.featurette
				.col-md-7
					h2.featurette-heading
						| Wayne Tower 
						br
						span.text-muted Aka "Old Wayne Tower"
					p.lead
						|  Built in 1888 by Alan Wayne. After its construction, the tower was the tallest building in Gotham City. Built as a symbol to welcome all of those who enter the city, Wayne Tower has 13 gargoyles or "guardians", watching the 13 ways into Gotham City. 
				.col-md-5
					img.featurette-image.img-responsive.center-block(data-src='holder.js/500x500/auto', alt='500x500', src='../images/tower.jpg')
		section#wayne-foundation
			hr.featurette-divider
			.row.featurette
				.col-md-7.col-md-push-5
					h2.featurette-heading
						| Wayne Foundation
						br
						span.text-muted People First
					p.lead
						| Established to enhance healthcare and reduce extreme poverty, to expand educational opportunities and access to information technology, and to fund scientific research and help altruistic people with research by providing facilities and training. 
				.col-md-5.col-md-pull-7
					img.featurette-image.img-responsive.center-block(data-src='holder.js/500x500/auto', alt='500x500', src='../images/charity.jpg')
		section#wayne-technologies
			hr.featurette-divider
			.row.featurette
				.col-md-7
					h2.featurette-heading
						| Wayne Technologies
						br
						span.text-muted Aka "WayneTech"
					p.lead
						| The biggest division of Wayne Enterprises. It is involved in the retrieval and research of alien technology. Its main rival is LexCorp. The subsidiary is sometimes used by Batman as a means to acquire new technologies.
				.col-md-5
					img.featurette-image.img-responsive.center-block(data-src='holder.js/500x500/auto', alt='500x500', src='../images/tech.jpg')
			// /END THE FEATURETTES
