doctype html
html
	head
		title= title
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(rel='stylesheet', href='/stylesheets/bootstrap.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/carousel.css')
	body
		nav.navbar.navbar-inverse.navbar-fixed-top
			.container
				// Brand and toggle get grouped for better mobile display
				.navbar-header.page-scroll
					button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
						span.sr-only Toggle navigation
						|  Menu 
						i.fa.fa-bars
					a.navbar-brand.page-scroll(href='#page-top') Wayne Enterprises
				// Collect the nav links, forms, and other content for toggling
				#bs-example-navbar-collapse-1.collapse.navbar-collapse
					ul.nav.navbar-nav.navbar-right
						li.hidden
							a(href='#page-top')
						li
							a.page-scroll(href='#services') Services
						li
							a.page-scroll(href='#portfolio') Portfolio
						li
							a.page-scroll(href='#about') About
						li
							a.page-scroll(href='#team') Team
						li
							a.page-scroll(href='#contact') Contact
				// /.navbar-collapse
			// /.container-fluid

		block content
		// FOOTER
		footer
			p.pull-right
				a(href='#') Back to top
			p
				| © 2016 Company, Inc. · 
				a(href='#') Privacy
				|  · 
				a(href='#') Terms
		// /.container

		script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
		script(src='../javascripts/bootstrap.js')
		script(src='../javascripts/agency.js')


